{% extends 'base.html' %}

{% block content %}
<div class="welcomebox">
    <div class="content">
        <h2 class="welcome text-center">Welcomeb To</h2>
        <h2 class="welcome-title text-center">Healthy Lifestyle Website</h2>
        <p class="quote text-center">"Manage your health by follow our tips"</p>
        <h2 class="getting text-center">Please <a class="login" href="/login">Login</a> 
            or <a class="register" href="/register">Sign Up</a> first! </h2>
    </div>
</div>

{% endblock %}