{% extends 'base.html' %}

{% block title %}
Calculate BMI
{% endblock %}

{% block content %}
<div class="row justify-content-md-center">
    <div class="col-md-7 col-lg-5">
      <h2 class="text-center">We Love To Hear Your Knowledge and Your Experience about healthy</h2>

      <form method="POST" id="post_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
          {% for error in field.errors %}
            <span class="text-danger">{{ error }}</span>
          {% endfor %}
          {{ field(placeholder=field.label.text, class="form-control") }}
        {% endfor %}

        <button class="btn btn-info btn-sm btn-block">POST</button>
      </form>
    </div>
</div>

{% endblock %}